#text-input {
	text-align: center;
	margin-top: 20%;
}

#main button {
	background: #1584B2;
	color: white;
}

#main button:hover {
	background: #008fff;
	color: white;
}

.error_msg {
	position: fixed;
	top: 50px;
	left: 43%;
	z-index: 100;
	color: red;
}