body {
	
}

thead {
	background: #008fff;
	color: white;
}

button {
	background: #008fff;
	color: white;
}

.button-item {
	display: inline-block;
	margin-top: 20%;
}

.button-container {
	text-align: center;
}

#print {
	background: green;
}

#back {
	background: red;
}

#tambah {
	background: #008fff;
}

.content-item {
	margin-right: auto;
	margin-left: auto;
	width: 90%
}

.title {
	padding: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.left-item {
	display: inline-block;
	position: relative;
	left: 5%;
	padding-bottom: 20px;
}
.right-item {
	display: inline-block;
	position: absolute;
	right: 5%;
}

.sign {
	padding-top: 20px;
}

.form-horizontal .control-label.text-left{
    text-align: left;
}