<!doctype html>

<head>
  <title>Surat Jalan/Gate Pass</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="print-lpb.css">
    <script defer src="fontawesome-all.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="gudang.js"></script>
</head>

<body>
	<p class="title">Surat Jalan/Gate Pass</p>
	<div class="left-item">
		<p>No. Surat Jalan: Test</p>
		<p>Tanggal: Test</p>
		<p>Dikirim ke: Test</p>
	</div>
	<div class="right-item">
		<p>Ekspedisi: Test</p>
		<p>Nama Supir: Test</p>
		<p>Nama Kendaraan: Test</p>
	</div>
	<table class="content-item table table-bordered table-responsive">
		<thead>
	        <tr>
		        <th>Kode Produk</th>
		        <th>Nama Produk</th>
		        <th>Jumlah</th>
		        <th>Keterangan</th>
		    </tr>
		</thead>
		<tbody>
		    <tr>
		        <td>Test</td>
		        <td>Test</td>
		        <td>Test</td>
		        <td>Test</td>
		    </tr>
		</tbody>
	</table>
	<p class="right-item sign">Signed By (Electronic Sign)</p>
	<div class="button-container">
		<form class="button-item" action="gudang.html"><button type="button submit" class="btn" id="back">Back</button></form>
		<form class="button-item" action="gudang.html"><button type="button submit" class="btn" id="tambah">Tambah</button></form>
		<form class="button-item" action="gudang.html"><button type="button submit" class="btn" id="print">Print</button></form>
	</div>
</body>